.end{
    margin-left: 10cm;
    margin-bottom: 0.5cm;
}
.card{
    margin-left: 1cm;
    margin-right: 21cm;
    margin-top: 2cm;
}
.head{
    margin-left: 4cm;

}
.txt{
    margin-top: 0.5cm;
    margin-left: 0.5cm;
}
.red {
    color:red;
  }
  .black{
color: black;
  }