/* .img{
    height: 170px;
    width: 170px;
    margin-left: 5cm;

}
.card{
    margin-top: 2cm;
    margin-left: 5cm;
    margin-right: 15cm;
     width: '18rem';
  }
  .col
  {
      margin-left: 0.5cm;
  }
  .end{
      margin-left: 11cm;
  }
  .line
  {
      margin-right: 2cm;
  } */